/* General styling/reset */
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
}

p, a, li, dt, dd, span {
    font-size: 1.6;
    line-height: 1.5;
}

/* Navigation */
.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-btn {
    display: block;
    width: 100%;
}

.nav-link {
    display: block;
    width: 100%;
    padding: 16px;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .navbar {
        width: 75%;
    }

    .navbar-expand-sm {
        display: flex;
    }

    .navbar-expand-sm > .nav-btn {
        width: fit-content;
    }

}

@media screen and (min-width: 1024px) {
    .navbar {
        width: 75%;
    }
    
    .navbar-expand-md {
        display: flex;
    }

    .navbar-expand-md > .nav-btn {
        width: fit-content;
    }

}

@media screen and (min-width: 1440px) {
    .navbar-expand-lg {
        display: flex;
    }

    .navbar-expand-lg > .nav-btn {
        width: fit-content;
    }
}

/* Buttons */
.block-btn {
    display: block;
    border: none;
    font-weight: bolder;
}

.rounded-btn {
    border-radius: 12px;
}

button:hover {
    cursor: pointer;
}

/* Text utils */
.lead {
    font-size: smaller;
    font-weight: bolder;
}

.text-light {
    color: rgba(240, 245, 245, 0.8);
}

.text-dark {
    color: rgba(20, 19, 19, 0.85);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Utils */
.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.container {
    display: block;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}

.fluid-container {
    display: block;
    width: 100%;
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 auto;
}

.col-shrink {
    flex: 0 1 auto;
}

.w-20 {
    width: 20%;;
}

.w-25 {
    width: 25%;
}

.w-40 {
    width: 40%;;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;;
}

.w-100 {
    width: 100%;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 4px;
}

.m-2 {
    margin: 8px;
}

.m-3 {
    margin: 12px;
}

.m-4 {
    margin: 16px;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 4px;
}

.mr-2 {
    margin-right: 8px;
}

.mr-3 {
    margin-right: 12px;
}

.mr-4 {
    margin-right: 16px;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 4px;
}

.ml-2 {
    margin-left: 8px;
}

.ml-3 {
    margin-left: 12px;
}

.ml-4 {
    margin-left: 16px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 12px;
}

.mb-4 {
    margin-bottom: 16px;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 4px;
}

.p-2 {
    padding: 8px;
}

.p-3 {
    padding: 12px;
}

.p-4 {
    padding: 16px;
}

.bg-light {
    background-color: rgba(240, 245, 245, 0.8);
}

.bg-dark {
    background-color: rgba(20, 19, 19, 0.85);
}

.bg-yellow {
    background-color: rgba(248, 245, 49, 0.85);
}

.bg-orange {
    background-color: rgba(243, 156, 43, 0.85);
}

.bg-hover-yellow:hover {
    background-color: rgba(215, 212, 30, 0.85);
}

.bg-hover-orange:hover {
    background-color: rgba(207, 126, 20, 0.85);
}

.bg-hover-dark:hover {
    background-color: rgba(20, 19, 19, 0.85);
    color: rgba(240, 245, 245, 0.8);
}

.bg-hover-light:hover {
    background-color: rgba(240, 245, 245, 0.8);
    color: rgba(20, 19, 19, 0.85);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

@media screen and (max-width: 1024px) {
    .w-md-20 {
        width: 20%;;
    }
    
    .w-md-25 {
        width: 25%;
    }
    
    .w-md-40 {
        width: 40%;;
    }
    
    .w-md-50 {
        width: 50%;
    }
    
    .w-md-60 {
        width: 60%;;
    }
    
    .w-md-75 {
        width: 75%;
    }
    
    .w-md-80 {
        width: 80%;;
    }
    
    .w-md-100 {
        width: 100%;
    }
}

/* Search results */
.result {
    margin: 32px 0;
}

.result > a {
    text-decoration: none;
}

.result > a:hover .title {
    text-decoration: underline;
}

.result .link {
    font-size: smaller;
    margin: 0;
}

.result .title {
    color: rgba(40, 40, 210, 0.8);
    font-size: 32px;
    margin: 0;
}

.result .description {
    margin: 0;
}

.result .quick-links a {
    color: rgba(40, 40, 210, 0.8);
    text-decoration: none;
}

.result .quick-links a:hover {
    text-decoration: underline;
}

.result .quick-links > div::after {
    content: " \2022 ";
    padding: 0 8px;
}

.result .quick-links > div:last-child::after {
    content: none;
}